PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rudimedik
REDIS_URL=redis://localhost:6379

JWT_SECRET=super-secret-key-32-chars-at-least
JWT_REFRESH_SECRET=refresh-secret-key-32-chars
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxx

PAYSTACK_SECRET_KEY=sk_test_xxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxx

RESEND_API_KEY=re_xxxx
RESEND_FROM_EMAIL=noreply@rubimedik.com
RESEND_USERNAME=xxxx
RESEND_PORT=587

ANTHROPIC_API_KEY=sk-ant-xxxx

CLOUDINARY_CLOUD_NAME=africinnovate-technology
CLOUDINARY_API_KEY=xxxxx
CLOUDINARY_API_SECRET=xxxxx

GEMINI_API_KEY=xxxx
GEMINI_MODEL=gemini-2.0-flash

PLATFORM_FEE_PERCENT=20
REFERRAL_POINT_VALUE=500
FOLLOWUP_WINDOW_DAYS=30
CONSULTATION_GRACE_PERIOD_HOURS=48
CONSULTATION_SCHEDULER_CRON="0 */10 * * * *"

ADMIN_DASHBOARD_URL=http://localhost:3001
APP_URL=http://localhost:3000

# Donation Intervals (Days)
BLOOD_DONATION_INTERVAL_WHOLE_BLOOD=56
BLOOD_DONATION_INTERVAL_PLATELET=7
BLOOD_DONATION_INTERVAL_DOUBLE_RED_CELL=112


FIREBASE_PROJECT_ID=rubimedik-xxxxx
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@rubimedik.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxxxx\n-----END PRIVATE KEY-----\n"